# Recreate the contingency table on the whole original "email" Dataset

In [1]:
import pandas as pd
import numpy as np
import csv

### Treating the ".txt" file to convert it in ".csv"

In [3]:
with open('Dataset/email.txt','r') as email:
    file = email.readlines()
    t=[]
    
    with open('Dataset/email.csv','w') as e:
        eWriter = csv.writer(e)
        
        for c,i in enumerate(file):
            t = i.split('\t')
            eWriter.writerow(t)
    e.close()

In [4]:
df = pd.read_csv('Dataset/email.csv')

In [5]:
df.head()

,spam,to_multiple,from,cc,sent_email,time,image,attach,dollar,winner,...,viagra,password,num_char,line_breaks,format,re_subj,exclaim_subj,urgent_subj,exclaim_mess,number
0,0,0,1,0,0,2011-12-31 22:16:41,0,0,0,no,...,0,0,11.370,202,1,0,0,0,0,big\n
1,0,0,1,0,0,2011-12-31 23:03:59,0,0,0,no,...,0,0,10.504,202,1,0,0,0,1,small\n
2,0,0,1,0,0,2012-01-01 08:00:32,0,0,4,no,...,0,0,7.773,192,1,0,0,0,6,small\n
3,0,0,1,0,0,2012-01-01 01:09:49,0,0,0,no,...,0,0,13.256,255,1,0,0,0,48,small\n
4,0,0,1,0,0,2012-01-01 02:00:01,0,0,0,no,...,0,2,1.231,29,0,0,0,0,1,none\n

For some reasons all the last characters end up  with '\n' when getting put with 'csv methods'

In [6]:
df = df.rename(columns = {'number\n':'number'})

In [9]:
df.replace(inplace=True,to_replace=r'$\n',value='',regex=True)

###### Here goes the dataframe

In [10]:
df.head()

,spam,to_multiple,from,cc,sent_email,time,image,attach,dollar,winner,...,viagra,password,num_char,line_breaks,format,re_subj,exclaim_subj,urgent_subj,exclaim_mess,number
0,0,0,1,0,0,2011-12-31 22:16:41,0,0,0,no,...,0,0,11.370,202,1,0,0,0,0,big
1,0,0,1,0,0,2011-12-31 23:03:59,0,0,0,no,...,0,0,10.504,202,1,0,0,0,1,small
2,0,0,1,0,0,2012-01-01 08:00:32,0,0,4,no,...,0,0,7.773,192,1,0,0,0,6,small
3,0,0,1,0,0,2012-01-01 01:09:49,0,0,0,no,...,0,0,13.256,255,1,0,0,0,48,small
4,0,0,1,0,0,2012-01-01 02:00:01,0,0,0,no,...,0,2,1.231,29,0,0,0,0,1,none

In [11]:
df.columns

Index(['spam', 'to_multiple', 'from', 'cc', 'sent_email', 'time', 'image',
       'attach', 'dollar', 'winner', 'inherit', 'viagra', 'password',
       'num_char', 'line_breaks', 'format', 're_subj', 'exclaim_subj',
       'urgent_subj', 'exclaim_mess', 'number'],
      dtype='object')

In [15]:
def counting(x):
    return x.count()

### Generate the contingency Table :

In [18]:
cont = df.pivot_table(index='spam',columns='format',values='num_char',aggfunc=[counting])
cont

       counting
format        0       1
spam
0         986.0  2568.0
1         209.0   158.0

with : 
- Format :
  * 0 : Text
  * 1 : HTML

- Spam : 
  * 0 : Not Spam
  * 1 : Spam

- Adding the total column

In [32]:
cont.loc[:,('counting','total')] = cont.loc[:,('counting',0)] + cont.loc[:,('counting',1)]
cont

       counting
format        0       1   total
spam
0         986.0  2568.0  3554.0
1         209.0   158.0   367.0

### Column Proportion

In [34]:
cont.loc[:,('counting')].div(cont.loc[:,('counting','total')],axis=0)

format         0         1  total
spam
0       0.277434  0.722566    1.0
1       0.569482  0.430518    1.0